.fc-timegrid-slot {
    height: 5em !important;
    border-bottom: 0 !important;
}

.fc-event-main {
    display: flex;
    flex-direction: row;
}

.trash:hover {
    color: darkgrey;
}

.calendar-container {
    width: 80%;
    overflow-x: auto;
}

.fc-timegrid-event-harness {
    width: 104%;
    height: 4.5rem;
    margin-left: -0.24rem;
    border-radius: 0;
}

@media only screen and (max-width:1080px) {
    .calendar-container .fc-view > table {
        width: 100em;
    }

    .calendar-container .fc-toolbar.fc-header-toolbar {
        width: 100em;
    }
}
