.fc-timegrid-slot {
    height: 7em !important;
border-bottom: 0 !important;
}

.fc-event-main {
    display: flex;
    flex-direction: column;
}

.validate:hover, .refuse:hover {
    color: #a2841a;
}

.delete:hover {
    color: #210653;
}

.realized:hover, .notRealized:hover {
    color: #833701;
}

.redDelete:hover {
    color: #7a0101 !important;
}

.calendar-container {
    width: 80%;
    overflow-x: auto;
}

@media only screen and (max-width:680px) {
    .calendar-container .fc-view > table {
        width: 125em;
    }

    .calendar-container .fc-toolbar.fc-header-toolbar {
        width: 125em;
    }
}
